*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow-x: hidden;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #151315;
    color: white;
}

header{
    width: 100%;
    padding: 50px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    position: fixed;
    z-index: 3;
}

.container__cabecalho{
    max-width: 1280px;
    margin:auto;
    position: relative;
}

.cabecalho__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cabecalho__flex__icone{
    color: #61C0BF;
    font-size: 30px;
    font-family: FonteTexto;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
}

.cabecalho__flex__icone__forte{
    color:#FFFFFF
    position: relative;
}

nav a{
    position: relative;
}

nav a::after {
    content: ""; /* Conteúdo vazio, necessário para pseudo-elementos */
    width: 0; /* Largura inicial para 0 */
    height: 2px;
    background-color: #efb810;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out; /* Transição aplicada apenas à largura */
}

nav a:hover::after {
    width: 110%; /* Mostra o ::after quando o link é hover */
    transform: scaleX(1); /* Amplia o ::after para exibi-lo */
    margin-bottom: -5px;
}


button {
    color: #FFFFFF; 
    background-color: transparent; 
    border: 1px solid #FFFFFF; 
    padding: 10px 20px; 
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

a:visited {
    text-decoration: none; 
    color: #FFFFFF; 
    position: relative;
}

a {
    color: #FFFFFF; 
    text-decoration: none; 
    position: relative;
}

button:hover {
    background-color: #FFFFFF;
    color: #1a1a1a; 
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
}

header.rolagem{
    background-color: #FFFFFF;
    padding: 20px 0px;
    position: relative;
}

header.rolagem a{
    color:#a6a6a6
    position: relative;
}

header ul{
    list-style-type: none;
    position: relative;
}

header ul li{
    display: inline-block;
    margin: 0px 40px;
    position: relative;
}

header ul li a{
    color:#FFFFFF;
    text-decoration: none;
    font-family: FonteTexto;
    position: relative;
}

.container__primeiro{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    position: relative;
    z-index: 0;
}

.background__section{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.background__section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.primeiro__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primeiro__conteudo__nome{
    color: #FFFFFF;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FonteMarkos;
    letter-spacing: 13px;
    position: relative;
    z-index: 2;
}

.primeiro__conteudo__frase{
    color:#CFCFCF;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FonteTexto;
    position: relative;
    word-spacing: -2px;
    z-index: 2;
}

.tituloDestaque{
    color:#EDEDED;
    margin-left: 7px;
}

.espaco{
    margin-right: 20px;
}

.loader {
    width: 45px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
              linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
              linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    margin-top: 600px;
    position: absolute;
    z-index: 4;
}

@keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

.container__secundario{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
    z-index: 0;
    gap: -200px;
}

.secundario__imagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.descricao__titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: FonteTexto;
    font-size: 80px;
    margin-bottom: 0px;
}

.container__terceiro__titulo{
    font-family: FonteTexto;
    font-size: 70px;
}

.container__terceiro__descricao{
    font-family: FonteTexto;
}

.principal__baixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    position: relative;
    z-index: 2;
}

.principal__baixo__descricao{
    font-family: FonteTexto;
    font-size: 15px;
    opacity: 20%;
}

.principal__baixo__cordenadas{
    font-family: FonteTexto;
    font-size: 15px;
    opacity: 20%;
}
.principal__baixo__cordenadas:hover{
    opacity: 60%;
}
